body{
    background-color: wheat;
    margin-top: 100px;
    margin-bottom: 100px;
}

#title, #description {
    text-align: center;
}

#survey-form{
    margin: 25px 20% 25px 20%;
    padding: 40px;
    border-radius: 10px;
    background-color: rgba(116, 0, 0, 0.7);
    color: black;
}

label, .label{
    display: flex;
    align-items: center;
    font-size: 1.2rem;
}

input {
    margin-right: 5px;
}